:root {
  --main-black: #034447;
  --main-white: white;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #034447;
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-white);
}

.navbar {
  background-color: white;
}

.nav-link {
  color: var(--main-black);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1rem;
  border-color: transparent;
  transition: all ease-in-out 0.5s;
}

.ftPerfil {
  width: 115px;
  height: 115px;
  margin-left: 250px;
  border-radius: 50%;
}

.ftPerfil:hover {
  border-color: transparent;
  transition: 0.5s;
}

.nav-link:hover {
  background-color: var(--main-black);
  color: var(--main-white);
}

.navbar-brand {
  font-size: 2.25rem;
  color: var(--main-black);
  width: 60px;
  font-weight: 800;
  cursor: pointer;
  background-color: transparent;
}

.img-thumbnail {
  border: 1px #23252d;
}

.main {
  background: url(./Imagens/fotodeFundo.jpg) no-repeat;
  background-size: contain;
  background-position: right;
  background-clip: border-box;
  width: 100%;
  height: 88vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.textoPrincipal {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main h3 {
  color: var(--main-black);
  font-size: 3.9rem;
  font-weight: 700;
}

small {
  font-weight: 100;
}

.main h6 {
  color: var(--main-black);
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1;
  width: 40%;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

.about {
  background-color: #034447;
  color: white;
}

.about img {
  height: 600px;
}

.circle img {
  width: 100%;
  height: 100%;
}

.btn1 {
  height: 40px;
  width: 145px;
  outline: none;
  border: 1px solid var(--main-white);
  background-color: var(--main-black);
  color: var(--main-white);
  border-radius: 4px;
}

.btn1:hover {
  scale: 1.1;
  transition: 0.5s;
  margin-right: 1rem;
}

.btn2 {
  height: 40px;
  width: 145px;
  outline: none;
  border: 1px solid var(--main-white);
  background-color: transparent;
  color: var(--main-white);
  border-radius: 4px;
}

.btn2:hover {
  scale: 1.1;
  transition: 0.5s;
  margin-left: 1rem;
}

.card {
  border: none;
  outline: none;
  -webkit-box-shadow: -8px 6px 89px -55px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 89px -55px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 89px -55px rgba(0, 0, 0, 0.75);
}

.card p {
  color: gray;
}

.services {
  background-color: white;
}

.services img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 12px;
  display: inline-block;
  margin-bottom: 20px;
}

.card:hover .circle {
  background-color: var(--main-black);
  color: var(--main-white);
  transition: 0.5s;
}

.item {
  position: relative;
  margin: 0.5rem;
}

.item img {
  height: 200px;
}

.item:hover {
  -webkit-box-shadow: -8px 6px 109px -55px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 109px -55px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 109px -55px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.item span {
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 40px;
  color: var(--main-black);
  cursor: pointer;
  opacity: 0;
}

.item:hover span {
  opacity: 1;
  transition: 0.5s;
}

.item:before {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(238, 235, 230, 0.65);
  opacity: 0;
  position: absolute;
}

.portfolio {
  background-color: #034447;
  color: white;
}

.item:hover:before {
  opacity: 1;
  transition: 0.3s;
}

.cardDeContato {
  transition: 0.4s;
  cursor: pointer;
}

.cardCon {
  padding: 5px;
}

.cardCon:hover {
  background-color: aliceblue;
}

footer {
  background-color: var(--main-black);
  color: lightgray;
}

.contact a {
  text-decoration: none;
  color: var(--main-black);
}

.navbar-brand img {
  height: 100px;
}

.whatsapp-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 250px;
  height: 60px;
  background-color: #25d366;
  z-index: 9999;
  border-radius: 10px;
}

.whatsapp-button a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  text-align: center;
}

.whatsapp-button p {
  margin-left: 10px;
  font-size: 1.1rem;
}

.whatsapp-button img {
  border-color: transparent;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #25d366;
  padding: 10px;
}

.whatsapp-button:hover {
  bottom: 30px;
  right: 30px;
}

.whatsapp-text {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #fff;
}

@media (max-width: 1050px) {
  .item {
    width: 300px;
  }
  .ftPerfil {
    margin-left: 50px;
  }
}

@media (max-width: 950px) {
  .main {
    background-size: cover;
    height: 70vh;
    padding-top: 0;
  }
  .item {
    width: 97%;
  }
  .item img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .ftPerfil {
    margin: 0;
  }
  .item {
    width: 600px;
  }
  .item img {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .ftPerfil {
    margin-left: 100px;
  }
}

@media (max-width: 450px) {
  .main {
    background-size: auto;
  }
  .main h3 {
    font-size: 3.4rem;
  }
  .textoPrincipal {
    padding: 0px;
  }
  .navbar-brand img {
    height: 75px;
  }
  .ftPerfil {
    width: 75px;
    height: 75px;
    margin-left: 50px;
  }
  .item {
    width: 97%;
  }
  .item img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .ftPerfil {
    margin-left: 100px;
  }
  .main h3 {
    font-size: 2.9rem;
  }
}

@media (max-width: 350px) {
  .navbar-brand img {
    height: 50px;
  }
  .ftPerfil {
    height: 50px;
    width: 50px;
    margin-left: 50px;
  }
  .main h3 {
    font-size: 2.4rem;
  }
}
